*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.fdb_latexmk
*.fls
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc

figures/*.eps
figures/*.gif
figures/*.jpg
figures/*.pdf
figures/*.png
